## Practice August 20th, 2025

### practicing with netflix data set

In [1]:
### importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
## load data as netflix_data
netflix_data = pd.read_csv('/Users/auroraxiao/Desktop/Data Science Project/Data/netflix_data.csv')

In [4]:
## show the first 10 rows of the data netflix_data
netflix_data.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV
5,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,95,"After an awful accident, a couple admitted to ...",Horror Movies
6,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,119,After one of his high school students attacks ...,Dramas
7,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,118,"When a doctor goes missing, his psychiatrist w...",Horror Movies
8,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,143,An architect and his wife move into a castle t...,Horror Movies
9,s11,Movie,1922,Zak Hilditch,"Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...",United States,"October 20, 2017",2017,103,A farmer pens a confession admitting to his wi...,Dramas

In [6]:
## sorting the data by release_year
netflix_data.sort_values(by = "release_year", ascending = True, inplace = True) 
print(netflix_data.head(10))

     show_id   type                    title  \
3809   s6118  Movie     The Battle of Midway
4513   s7269  Movie         Tunisian Victory
2172   s3426  Movie  Know Your Enemy - Japan
2269   s3609  Movie       Let There Be Light
4401   s7073  Movie              Thunderbolt
3820   s6142  Movie          The Blazing Sun
4706   s7596  Movie          White Christmas
3383   s5426  Movie      Scandal in Sorrento
3190   s5123  Movie    Rebel Without a Cause
4272   s6869  Movie        The Sign of Venus

                                               director  \
3809                                          John Ford
4513  Frank Capra, John Huston, Hugh Stewart, Roy Bo...
2172                           Frank Capra, Joris Ivens
2269                                        John Huston
4401                        William Wyler, John Sturges
3820                                    Youssef Chahine
4706                                     Michael Curtiz
3383                                          Dino Risi
3190                                       Nicholas Ray
4272                                          Dino Risi

                                                   cast        country  \
3809                          Henry Fonda, Jane Darwell  United States
4513                                   Burgess Meredith  United States
2172                        Walter Huston, Dana Andrews  United States
2269                                      Walter Huston  United States
4401                       James Stewart, Lloyd Bridges  United States
3820  Omar Sharif, Faten Hamama, Zaki Rostom, Farid ...          Egypt
4706  Bing Crosby, Danny Kaye, Rosemary Clooney, Ver...  United States
3383  Vittorio De Sica, Sophia Loren, Lea Padovani, ...          Italy
3190  James Dean, Natalie Wood, Sal Mineo, Jim Backu...  United States
4272  Sophia Loren, Franca Valeri, Vittorio De Sica,...          Italy

             date_added  release_year  duration  \
3809     March 31, 2017          1942        18
4513     March 31, 2017          1944        76
2172     March 31, 2017          1945        63
2269     March 31, 2017          1946        58
4401     March 31, 2017          1947        42
3820      June 18, 2020          1954       116
4706  November 15, 2020          1954       120
3383  November 13, 2020          1955        93
3190   November 1, 2019          1955       111
4272  November 13, 2020          1955        97

                                            description           genre
3809  Director John Ford captures combat footage of ...  Classic Movies
4513  British and American troops join forces to lib...  Classic Movies
2172  Though culturally insensitive by modern standa...  Classic Movies
2269  Some returning combat veterans suffer scars th...  Classic Movies
4401  A P-47 Thunderbolt squadron is shown in prepar...  Classic Movies
3820  Competition between sugar cane producers turns...  Classic Movies
4706  Two war buddies fall for two sisters and follo...        Children
3383  When a marshal moves back to his hometown, he ...  Classic Movies
3190  When Jim Stark arrives in a new town with his ...  Classic Movies
4272  While suitors swoon over her cousin, a single ...  Classic Movies

The earliest released movie from the dataset is  The Battle of Midway from 1942

### Question: what movie is the longest with the earliest release year? (if two or more movies are tied in duration)

In [10]:
netflix_data.sort_values(by = ["duration", "release_year"], ascending = [False, True], inplace = True)
print(netflix_data.head(10))

     show_id   type                         title                director  \
4262   s6851  Movie        The School of Mischief  Houssam El-Din Mustafa
2811   s4491  Movie                No Longer kids         Samir Al Asfory
3349   s5377  Movie                        Sangam              Raj Kapoor
2224   s3522  Movie                        Lagaan      Ashutosh Gowariker
2012   s3196  Movie                  Jodhaa Akbar      Ashutosh Gowariker
2068   s3283  Movie      Kabhi Khushi Kabhie Gham             Karan Johar
4050   s6508  Movie                  The Irishman         Martin Scorsese
2807   s4485  Movie  No Direction Home: Bob Dylan         Martin Scorsese
3994   s6410  Movie            The Gospel of Luke             David Batty
4692   s7575  Movie          What's Your Raashee?      Ashutosh Gowariker

                                                   cast         country  \
4262  Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...           Egypt
2811  Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...           Egypt
3349  Raj Kapoor, Vyjayanthimala, Rajendra Kumar, La...           India
2224  Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...           India
2012  Hrithik Roshan, Aishwarya Rai Bachchan, Sonu S...           India
2068  Amitabh Bachchan, Jaya Bhaduri, Shah Rukh Khan...           India
4050  Robert De Niro, Al Pacino, Joe Pesci, Harvey K...   United States
2807  Bob Dylan, Joan Baez, Dave Van Ronk, Peter Yar...  United Kingdom
3994  Selva Rasalingam, Karima Gouit, Mourad Zaoui, ...   United States
4692  Harman Baweja, Priyanka Chopra, Manju Singh, A...           India

             date_added  release_year  duration  \
4262       May 21, 2020          1973       253
2811       May 21, 2020          1979       237
3349  December 31, 2019          1964       228
2224   January 10, 2021          2001       224
2012    October 1, 2018          2008       214
2068      April 1, 2020          2001       209
4050  November 27, 2019          2019       209
2807     April 25, 2020          2005       208
3994   October 19, 2018          2015       205
4692    August 15, 2020          2009       203

                                            description           genre
4262  A high school teacher volunteers to transform ...        Comedies
2811  Hoping to prevent their father from skipping t...        Comedies
3349  Returning home from war after being assumed de...  Classic Movies
2224  In 1890s India, an arrogant British commander ...          Dramas
2012  In 16th-century India, what begins as a strate...          Action
2068  Years after his father disowns his adopted bro...          Dramas
4050  Hit man Frank Sheeran looks back at the secret...          Dramas
2807  Featuring rare concert footage and interviews ...   Documentaries
3994  Word-for-word Bible texts of the entire book o...          Dramas
4692  To protect his family from ruin, Yogesh must m...        Comedies

the longest movie was The School of Mischief, which was released in 1973

In [11]:
## Subsetting columns
## I only want to know movie titles and director of each movie
netflix_data[["title", "director"]]

                                             title                director
4262                        The School of Mischief  Houssam El-Din Mustafa
2811                                No Longer kids         Samir Al Asfory
3349                                        Sangam              Raj Kapoor
2224                                        Lagaan      Ashutosh Gowariker
2012                                  Jodhaa Akbar      Ashutosh Gowariker
...                                            ...                     ...
1545                                        Goedam             Hong Won-ki
3983                               The Ghost Bride         Quek Shio-chuan
2040                        Julie and the Phantoms            Kenny Ortega
3971                  The Forest of Love: Deep Cut               Sion Sono
3539  Sleepless Society: Two Pillows & A Lost Soul       Sivaroj Kongsakul

[4812 rows x 2 columns]

In [12]:
## subsetting rows
## returning all rows not a movie
netflix_data["type"]!= "Movie"

4262    False
2811    False
3349    False
2224    False
2012    False
        ...
1545     True
3983     True
2040     True
3971     True
3539     True
Name: type, Length: 4812, dtype: bool

In [13]:
returned_true_false = netflix_data["type"]!= "Movie"
netflix_data[returned_true_false]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
3678,s5913,TV Show,Supernatural,Phil Sgriccia,"Jared Padalecki, Jensen Ackles, Mark Sheppard,...",United States,"June 5, 2020",2019,15,"Siblings Dean and Sam crisscross the country, ...",Classic
2758,s4405,TV Show,Naruto,Hayato Date,"Junko Takeuchi, Chie Nakamura, Noriaki Sugiyam...",Japan,"September 1, 2019",2006,9,"Guided by the spirit demon within him, orphane...",Anime Series
783,s1182,TV Show,Call the Midwife,Philippa Lowthorpe,"Vanessa Redgrave, Bryony Hannah, Helen George,...",United Kingdom,"September 15, 2020",2020,9,This period drama set in impoverished East Lon...,British TV
3292,s5292,TV Show,Royal Pains,Jay Chandrasekhar,"Mark Feuerstein, Paulo Costanzo, Reshma Shetty...",United States,"May 18, 2017",2016,8,Dr. Hank Lawson unexpectedly gets a career upg...,TV Comedies
403,s585,TV Show,Arrow,James Bamford,"Stephen Amell, Katie Cassidy, David Ramsey, Wi...",United States,"February 5, 2020",2019,8,"Based on DC Comics' Green Arrow, an affluent p...",Crime TV
...,...,...,...,...,...,...,...,...,...,...,...
1545,s2462,TV Show,Goedam,Hong Won-ki,"SEOLA, Lee Hyun-joo, Song Chae-yun, Han Ga-rim...",South Korea,"August 20, 2020",2020,1,"When night falls on the city, shadows and spir...",International TV
3983,s6391,TV Show,The Ghost Bride,Quek Shio-chuan,"Huang Peijia, Wu Kang-jen, Ludi Lin, Janet Hsi...",Taiwan,"January 23, 2020",2020,1,"In 1890s Malacca, Li Lan finds herself in the ...",International TV
2040,s3239,TV Show,Julie and the Phantoms,Kenny Ortega,"Madison Reyes, Charlie Gillespie, Owen Patrick...",United States,"September 10, 2020",2020,1,Julie lost her passion for music when she lost...,Kids
3971,s6370,TV Show,The Forest of Love: Deep Cut,Sion Sono,"Kippei Shiina, Shinnosuke Mitsushima, Kyooko H...",Japan,"April 30, 2020",2020,1,Nothing's as it seems when a charismatic conma...,Crime TV
3539,s5666,TV Show,Sleepless Society: Two Pillows & A Lost Soul,Sivaroj Kongsakul,"Numthip Jongrachatawiboon, Vorarit Fuangarom, ...",Thailand,"May 15, 2020",2020,1,A motivational speaker about to divorce her ab...,Crime TV

Then, i realized there are a lot of tv shows in the data set

In [14]:
## converting these two rows into a single one
## returned_true_false = netflix_data["type"]!= "Movie"
## netflix_data[returned_true_false]
netflix_data[netflix_data["type"]!= "Movie"]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
3678,s5913,TV Show,Supernatural,Phil Sgriccia,"Jared Padalecki, Jensen Ackles, Mark Sheppard,...",United States,"June 5, 2020",2019,15,"Siblings Dean and Sam crisscross the country, ...",Classic
2758,s4405,TV Show,Naruto,Hayato Date,"Junko Takeuchi, Chie Nakamura, Noriaki Sugiyam...",Japan,"September 1, 2019",2006,9,"Guided by the spirit demon within him, orphane...",Anime Series
783,s1182,TV Show,Call the Midwife,Philippa Lowthorpe,"Vanessa Redgrave, Bryony Hannah, Helen George,...",United Kingdom,"September 15, 2020",2020,9,This period drama set in impoverished East Lon...,British TV
3292,s5292,TV Show,Royal Pains,Jay Chandrasekhar,"Mark Feuerstein, Paulo Costanzo, Reshma Shetty...",United States,"May 18, 2017",2016,8,Dr. Hank Lawson unexpectedly gets a career upg...,TV Comedies
403,s585,TV Show,Arrow,James Bamford,"Stephen Amell, Katie Cassidy, David Ramsey, Wi...",United States,"February 5, 2020",2019,8,"Based on DC Comics' Green Arrow, an affluent p...",Crime TV
...,...,...,...,...,...,...,...,...,...,...,...
1545,s2462,TV Show,Goedam,Hong Won-ki,"SEOLA, Lee Hyun-joo, Song Chae-yun, Han Ga-rim...",South Korea,"August 20, 2020",2020,1,"When night falls on the city, shadows and spir...",International TV
3983,s6391,TV Show,The Ghost Bride,Quek Shio-chuan,"Huang Peijia, Wu Kang-jen, Ludi Lin, Janet Hsi...",Taiwan,"January 23, 2020",2020,1,"In 1890s Malacca, Li Lan finds herself in the ...",International TV
2040,s3239,TV Show,Julie and the Phantoms,Kenny Ortega,"Madison Reyes, Charlie Gillespie, Owen Patrick...",United States,"September 10, 2020",2020,1,Julie lost her passion for music when she lost...,Kids
3971,s6370,TV Show,The Forest of Love: Deep Cut,Sion Sono,"Kippei Shiina, Shinnosuke Mitsushima, Kyooko H...",Japan,"April 30, 2020",2020,1,Nothing's as it seems when a charismatic conma...,Crime TV
3539,s5666,TV Show,Sleepless Society: Two Pillows & A Lost Soul,Sivaroj Kongsakul,"Numthip Jongrachatawiboon, Vorarit Fuangarom, ...",Thailand,"May 15, 2020",2020,1,A motivational speaker about to divorce her ab...,Crime TV

In [17]:
## return any tv shows released after 2020
netflix_data[(netflix_data["type"]!= "Movie") & (netflix_data["release_year"] > 2020)]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
4031,s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,2,A boy suddenly orphaned fights his parents' ki...,Anime Series

Turned out, there are only one tv show fall into these conditions, which is The Idhun Chronicles

In [21]:
## return any tv shows that are launched in South Korea
TV_shows_list = netflix_data[netflix_data["type"]== "TV Show"]
TV_shows_list[TV_shows_list["country"].isin(["South Korea"])]

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
2523,s4034,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",South Korea,"August 10, 2020",2020,5,Male celebs play make-believe as high schooler...,International TV
203,s285,TV Show,Abnormal Summit,"Jung-ah Im, Seung-uk Jo","Hyun-moo Jun, Si-kyung Sung, Se-yoon Yoo",South Korea,"August 4, 2017",2017,2,"Led by a trio of Korean celebs, a multinationa...",International TV
3208,s5164,TV Show,Reply 1997,Shin Won-ho,"Jung Eun-ji, Seo In-guk, Shin So-yul, Ji-won E...",South Korea,"August 8, 2019",2012,1,"As a teen, Shi Won was obsessed with a boy ban...",International TV
3207,s5163,TV Show,Reply 1994,Shin Won-ho,"Go Ara, Jung Woo, Sung Dong-il, Dohee, Son Ho-...",South Korea,"August 8, 2019",2014,1,"All hailing from various parts of Korea, a gro...",International TV
855,s1302,TV Show,Cheese in the Trap,Lee Yoon-jung,"Park Hae-Jin, Kim Go-eun, Seo Kang-jun, Lee Su...",South Korea,"October 1, 2019",2016,1,"In this adaptation of a popular webtoon, a poo...",International TV
737,s1106,TV Show,"Bring It On, Ghost",Park Joon-hwa,"Taecyeon, Kim So-hyun, Kwon Yul, Kim Sang-ho, ...",South Korea,"October 30, 2019",2016,1,A college student with psychic abilities takes...,International TV
2438,s3897,TV Show,Man to Man,Chang-Min Lee,"Hae-Jin Park, Sung-woong Park, Min-jung Kim, J...",South Korea,"June 10, 2017",2017,1,"Disguised as a bodyguard, a special agent must...",Crime TV
2666,s4259,TV Show,Mr. Sunshine,Lee Eung-bok,"Lee Byung-hun, Kim Tae-ri, Yoo Yeon-seok, Kim ...",South Korea,"July 8, 2018",2018,1,A young boy who ends up in the U.S. after the ...,International TV
3022,s4833,TV Show,Persona,"Lee Kyoungmi, Yim Pilsung, Jeon Go-woon, Kim J...","Lee Ji-eun (IU), Bae Doona, Park Hae Soo, Kim ...",South Korea,"April 11, 2019",2019,1,An exploration of different personas in an ecl...,International TV
1545,s2462,TV Show,Goedam,Hong Won-ki,"SEOLA, Lee Hyun-joo, Song Chae-yun, Han Ga-rim...",South Korea,"August 20, 2020",2020,1,"When night falls on the city, shadows and spir...",International TV

In [24]:
## add another value to the table 
netflix_data["year_to_date"] = 2025 - netflix_data["release_year"]

In [25]:
netflix_data.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,year_to_date
4262,s6851,Movie,The School of Mischief,Houssam El-Din Mustafa,"Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...",Egypt,"May 21, 2020",1973,253,A high school teacher volunteers to transform ...,Comedies,52
2811,s4491,Movie,No Longer kids,Samir Al Asfory,"Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,"May 21, 2020",1979,237,Hoping to prevent their father from skipping t...,Comedies,46
3349,s5377,Movie,Sangam,Raj Kapoor,"Raj Kapoor, Vyjayanthimala, Rajendra Kumar, La...",India,"December 31, 2019",1964,228,Returning home from war after being assumed de...,Classic Movies,61
2224,s3522,Movie,Lagaan,Ashutosh Gowariker,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",India,"January 10, 2021",2001,224,"In 1890s India, an arrogant British commander ...",Dramas,24
2012,s3196,Movie,Jodhaa Akbar,Ashutosh Gowariker,"Hrithik Roshan, Aishwarya Rai Bachchan, Sonu S...",India,"October 1, 2018",2008,214,"In 16th-century India, what begins as a strate...",Action,17
2068,s3283,Movie,Kabhi Khushi Kabhie Gham,Karan Johar,"Amitabh Bachchan, Jaya Bhaduri, Shah Rukh Khan...",India,"April 1, 2020",2001,209,Years after his father disowns his adopted bro...,Dramas,24
4050,s6508,Movie,The Irishman,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,"November 27, 2019",2019,209,Hit man Frank Sheeran looks back at the secret...,Dramas,6
2807,s4485,Movie,No Direction Home: Bob Dylan,Martin Scorsese,"Bob Dylan, Joan Baez, Dave Van Ronk, Peter Yar...",United Kingdom,"April 25, 2020",2005,208,Featuring rare concert footage and interviews ...,Documentaries,20
3994,s6410,Movie,The Gospel of Luke,David Batty,"Selva Rasalingam, Karima Gouit, Mourad Zaoui, ...",United States,"October 19, 2018",2015,205,Word-for-word Bible texts of the entire book o...,Dramas,10
4692,s7575,Movie,What's Your Raashee?,Ashutosh Gowariker,"Harman Baweja, Priyanka Chopra, Manju Singh, A...",India,"August 15, 2020",2009,203,"To protect his family from ruin, Yogesh must m...",Comedies,16

In [26]:
## what is the mean, median, and mode, min, and max, var, and std, sum of the duration column
print("Mean:", netflix_data["duration"].mean())
print("Median:", netflix_data["duration"].median())
print("Mode:", netflix_data["duration"].mode())
print("Min:", netflix_data["duration"].min())
print("Max:", netflix_data["duration"].max())
print("Variance:", netflix_data["duration"].var())
print("Standard Deviation:", netflix_data["duration"].std())
print("Sum:", netflix_data["duration"].sum())
## what is the longest movie in the data set
longest_movie = netflix_data.loc[netflix_data["duration"].idxmax()]
print(netflix_data["duration"].idxmax())
print("The longest movie is:", longest_movie["title"], "with a duration of", longest_movie["duration"], "minutes, released in", longest_movie["release_year"])

Mean: 99.56670822942644
Median: 99.0
Mode: 0    93
Name: duration, dtype: int64
Min: 1
Max: 253
Variance: 954.1491554060183
Standard Deviation: 30.88930487087753
Sum: 479115
4262
The longest movie is: The School of Mischief with a duration of 253 minutes, released in 1973

In [28]:
## applying the .agg() function to both durationcolumn and year_to_date column
netflix_data[["duration", "year_to_date"]].agg(['mean', 'median', 'min', 'max', 'var', 'std', 'sum'])

             duration  year_to_date
mean        99.566708     12.288446
median      99.000000      9.000000
min          1.000000      4.000000
max        253.000000     83.000000
var        954.149155     90.591901
std         30.889305      9.517978
sum     479115.000000  59132.000000

### DataFrame.drop_duplicates()

In [31]:
## avoiding double counting title, type, director, country, and release_year
netflix_data.drop_duplicates(subset = ["title", "type", "director", "country", "release_year"])

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,year_to_date
4262,s6851,Movie,The School of Mischief,Houssam El-Din Mustafa,"Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...",Egypt,"May 21, 2020",1973,253,A high school teacher volunteers to transform ...,Comedies,52
2811,s4491,Movie,No Longer kids,Samir Al Asfory,"Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,"May 21, 2020",1979,237,Hoping to prevent their father from skipping t...,Comedies,46
3349,s5377,Movie,Sangam,Raj Kapoor,"Raj Kapoor, Vyjayanthimala, Rajendra Kumar, La...",India,"December 31, 2019",1964,228,Returning home from war after being assumed de...,Classic Movies,61
2224,s3522,Movie,Lagaan,Ashutosh Gowariker,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",India,"January 10, 2021",2001,224,"In 1890s India, an arrogant British commander ...",Dramas,24
2012,s3196,Movie,Jodhaa Akbar,Ashutosh Gowariker,"Hrithik Roshan, Aishwarya Rai Bachchan, Sonu S...",India,"October 1, 2018",2008,214,"In 16th-century India, what begins as a strate...",Action,17
...,...,...,...,...,...,...,...,...,...,...,...,...
1545,s2462,TV Show,Goedam,Hong Won-ki,"SEOLA, Lee Hyun-joo, Song Chae-yun, Han Ga-rim...",South Korea,"August 20, 2020",2020,1,"When night falls on the city, shadows and spir...",International TV,5
3983,s6391,TV Show,The Ghost Bride,Quek Shio-chuan,"Huang Peijia, Wu Kang-jen, Ludi Lin, Janet Hsi...",Taiwan,"January 23, 2020",2020,1,"In 1890s Malacca, Li Lan finds herself in the ...",International TV,5
2040,s3239,TV Show,Julie and the Phantoms,Kenny Ortega,"Madison Reyes, Charlie Gillespie, Owen Patrick...",United States,"September 10, 2020",2020,1,Julie lost her passion for music when she lost...,Kids,5
3971,s6370,TV Show,The Forest of Love: Deep Cut,Sion Sono,"Kippei Shiina, Shinnosuke Mitsushima, Kyooko H...",Japan,"April 30, 2020",2020,1,Nothing's as it seems when a charismatic conma...,Crime TV,5
3539,s5666,TV Show,Sleepless Society: Two Pillows & A Lost Soul,Sivaroj Kongsakul,"Numthip Jongrachatawiboon, Vorarit Fuangarom, ...",Thailand,"May 15, 2020",2020,1,A motivational speaker about to divorce her ab...,Crime TV,5

In [32]:
netflix_data.shape

(4812, 12)

There is no duplicated rows from the table

### DataFrame .value_counts()

In [35]:
## get the unique values count 
netflix_data["type"].value_counts(sort = True)

type
Movie      4677
TV Show     135
Name: count, dtype: int64